{% extends "base.html.twig" %}



{% block title %}Accueil
{% endblock %}

{% block body %}
    <h2>Bienvuenue sur Palais des Plaisirs !</h2>

    <div class="container">
        <div>
            <p id="welcomeMessage">Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria lingua institutores veteres indiderunt.</p>
        </div>
        <div class="wrapper">
        <div class="row">
            <div class="col-4 left">
                <div class="section-1">
                    <h4>Bonjour</h4>
                    <div class="sepLittle"></div>
                    <p>Lorem ipsum dolor sit amet. Ea unde eaque et rerum incidunt ad voluptas corporis et corrupti voluptatum ab harum harum est consequatur odit a eius aspernatur! Sit quaerat nesciunt a possimus corporis aut accusantium excepturi et placeat repellat. Est repudiandae nulla in repellat tempora nam quos dolores qui suscipit voluptates? Sed tenetur repellendus quo reprehenderit voluptatum id minima voluptatum sit soluta facilis. </p>
                </div>

                <div class="section-2" id="socialMedias">
                    <ul>
                        <li><a href="#"><img src="{{asset('img/instagram.png')}}" alt="instagram"></a></li>
                        <li><a href="#"><img src="{{asset('img/facebook.png')}}" alt="facebook"></a></li>
                        <li><a href="#"><img src="{{asset('img/pinterest.png')}}" alt="pinterest"></a></li>
                        <li><a href="#"><img src="{{asset('img/youtube.png')}}" alt="youtube"></a></li>
                    </ul>
                </div>

                <div class="section-3">
                    <div class="sep">
                        <div class="star-sep"></div>
                        {# <i class="bi bi-star-fill"></i> #}
                        <img src="{{asset('img/star-fill.svg')}}"/>
                        <div class="star-sep"></div>
                    </div>
                    <div id="best">
                    <h3>Elu meilleur blog culinaire</h3>
                    </div>
                </div>

                <div class="section-4">
                    <h4>La dernière recette</h4>
                    <div class="sepLittle"></div>
                    <div class="card border-0">
                    {% if lastArticle.picture starts with 'img/' %}
                        <img id="lastRecipe" src="{{asset(lastArticle.picture)}}" alt="Last Recipe Image"/>
                    {% else %}
                        <img class="card-img" src="{{asset('img/' ~ lastArticle.picture)}}" alt="Card image cap">
                    {% endif %}
                        <div class="card-block">
                            <p>{{lastArticle.title}}</p>
                            <a href="{{path('recipe_show', {'id' : lastArticle.id})}}" class="btn btn-primary">Voir la recette</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-8 right">
                {% for article in articles %}
                    <div class="card" >
                        {% if article.picture starts with 'img/' %}
                            <img class="card-img-top" src="{{asset(article.picture)}}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="{{asset('img/' ~ article.picture)}}" alt="Card image cap">
                        {% endif %}
                        {# <img class="card-img-top" src="{{ asset(article.picture)}}" alt="Card image cap"> #}
                        <div class="card-body">
                            <div class="card-desc">
                                <ul class="desc-list">
                                    {# {{ set user = article.getIdUser, categorie = article.getIdCategorie}} #}
                                    <li><img src="{{asset('img/person-fill.svg')}}"/> {{article.getIdUser.username}}</li>
                                    <li><img class="circle" src="{{asset('img/circle-fill.svg')}}"/> Le {{article.dateCreate|date('d/m/Y') }} </li>
                                    <li><img class="circle"src="{{asset('img/circle-fill.svg')}}"/> {{article.getIdCategorie.name}}</li>
                                </ul>
                            </div>
                            <h5 class="card-title">{{article.title}}</h5>
                            <p class="card-text">{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content}}</p>
                            <a href="{{path('recipe_show', {'id' : article.id})}}" class="btn input-block-level form-control">Voir la recette</a>
                            <hr class="commentSep"/>
                            <p><img src="{{asset('img/message.svg')}}"/> {{ article.comments|length }} commentaire(s)<p>
                        
                        </div>


                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
        </div>
    </div>
    


{% endblock %}
