{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}

    <div class="containerGrid">
        <h2>Mes articles</h2>

        <div class="action-btn">
            <a class="btn-link" href="{{path('article')}}"><button class="Admin-btn" type="submit">Ajouter un article</button></a>
            <a class="btn-link" href="{{path('contact')}}"><button class="Admin-btn" type="submit">Contact</button></a>  
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if articles %}
                    {% for article in articles %}
                        <tr>
                            <td class="rowTable">{{article.id}}</td>
                            <td class="rowTable">{{article.title}}</td>
                            <td class="rowTable">{{article.getIdCategorie.name}}</td>
                            <td><a href="{{path('recipes_edit', {'id' : article.id}, 'edit')}}" type="submit"><button class="Modif-btn">Modifier</button></a></td>
                            <form action="" method="POST">
                                <td><button class="Delete-btn" type="submit" name="delete_article" value={{article.id}}>Supprimer</button> </td>
                            </form>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                            <td colspan="4">no records found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
    </div>
    

    
{% endblock %}