{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="containerGrid">
        <h2>Catégories</h2>

        <div class="wrapper">
            {{ form_start(categoryForm, { 'attr': {'class': 'comment'}}) }}
                {{ form_row(categoryForm.name, { 'attr': {'placeholder': 'Nouvelle catégorie', 'class': 'comment-input' }}) }}
                <div class="container-btn">
                    <button class="contact-btn">{{ button_label|default('Enregistrer') }}</button>
                </div>
            {{ form_end(categoryForm) }}
        </div>

        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <form action="" method="POST" name="editForm">
                    <td class="rowTable">{{category.id}}</td>
                    <td class="rowTable"><input class="input-change" type="text" name="new_name" value={{category.name}}></td>
                    <td><button class="Modif-btn" type="submit" name="update_category" value={{category.id}} >Modifier</button></td>
                    <td><button class="Delete-btn" type="submit" name="delete_category" value={{category.id}} >Supprimer</button> </td>
                </form>
            </tr>
        {# {% else %} #}
            {# <tr>
                <td colspan="4">no records found</td>
            </tr> #}
        {% endfor %}
        </tbody>
    </table>
        
    </div>
    

    
{% endblock %}