{% extends 'base.html.twig' %}

{% block title %}Message reçus{% endblock %}

{% block body %}
    <div class="containerGrid">
        <h2>Messages reçus</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Content</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td class="rowTable">{{ message.id }}</td>
                    <td class="rowTable"><a href="mailto:"+{{ message.email }}>{{ message.email }}</a></td>
                    <td class="rowTable">{{ message.content }}</td>
                    <form action="" method="POST">
                        <td><button class="Delete-btn" type="submit" name="delete_message" value={{message.id}}>Supprimer</button> </td>
                    </form>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# <a href="{{ path('app_message_new') }}">Create new</a> #}
{% endblock %}
