{% extends "base.html.twig" %}



{% block title %}Recettes
{% endblock %}

{% block body %}
<div class="container">
    <div class="researchContent">
        <div class="input-group">
            {% include 'recipes/_search.html.twig' with { form : form} only %}
        </div>
    </div>


    
    {% for article in articles %}
        
            <div class="card-recipe" >
                {% if article.picture starts with 'img/' %}
                    <img class="card-img-top" src="{{asset(article.picture)}}" alt="Last Recipe Image"/>
                {% else %}
                    <img class="card-img-top" src="{{asset('img/' ~ article.picture)}}" alt="Card image cap">
                {% endif %}
                {# <img class="card-img-top" src="{{asset(article.picture)}}" alt="Card image cap"> #}
                <div class="card-body">
                    <div class="card-desc">
                        <ul class="desc-list">
                            <li><img src="{{asset('img/person-fill.svg')}}"/> {{article.getIdUser.username}}</li>
                            <li><img class="circle" src="{{asset('img/circle-fill.svg')}}"/> Le {{ article.dateCreate ? article.dateCreate|date('d/m/Y') : '' }}</li>
                            <li><img class="circle"src="{{asset('img/circle-fill.svg')}}"/> {{article.getIdCategorie.name}}</li>
                        </ul>
                    </div>
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content}}</p>
                    <a href="{{path('recipe_show', {'id' : article.id})}}" class="btn input-block-level form-control">Voir la recette</a>
                    <hr class="commentSep"/>
                    <p><img src="{{asset('img/message.svg')}}"/> {{ article.comments|length }} commentaire(s)<p>
                        
                </div>
            </div>
        
    {% endfor %}
    
    </div>

{% endblock %}