{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <div class="container">
        <h2>Utilisateurs</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <form action="" method="POST">
                            <td class="rowTable">{{user.id}}</td>
                            <td class="rowTable">{{user.username}}</td>
                            <td class="rowTable"><a href="mailto:"+{{user.email}}>{{user.email}}</a></td>
                            <td class="rowTable">
                                <select name="role" class="role-select GridLine">
                                    {% if 'ROLE_ADMIN' in user.roles %}
                                        <option value="ROLE_ADMIN">Administrateur</option>
                                        <option value="ROLE_USER">Utilisateur</option>
                                        <option value="ROLE_AUTHOR">Auteur</option>
                                    {# {% endif %} #}
                                    {% elseif 'ROLE_AUTHOR' in user.roles %}
                                        <option value="ROLE_AUTHOR">Auteur</option>
                                        <option value="ROLE_ADMIN">Administrateur</option>
                                        <option value="ROLE_USER">Utilisateur</option>
                                    {# {% endif %} #}
                                    {% elseif 'ROLE_USER' in user.roles %}
                                        <option value="ROLE_USER">Utilisateur</option>
                                        <option value="ROLE_ADMIN">Administrateur</option>
                                        <option value="ROLE_AUTHOR">Auteur</option>
                                    {% endif %}
                                </select>
                            </td>
                            <td><button class="Modif-btn" type="submit" name="update_user" value={{user.id}}>Modifier</button></td>
                            <td><button class="Delete-btn" type="submit" name="delete_user" value={{user.id}}>Supprimer</button></td>
                        </form>
                    </tr>
                {# {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr> #}
                {% endfor %}
            </tbody>
        </table>

        <div class="wrapper">
            <button class="contact-btn" type="submit">Enregistrer</button> 
        </div>
    </div>
    

    
{% endblock %}